default:
  suites:
    default:
      contexts:
        - FeatureContext
        - DrevOps\BehatScreenshotExtension\Context\ScreenshotContext
  extensions:
    DrevOps\BehatScreenshotExtension:
      dir: %paths.base%/screenshots
      fail: true
      purge: false
      info_types:
        - url
        - feature
        - step
        - datetime
      filenamePattern: '{datetime:u}.{feature_file}.feature_{step_line}.{ext}'
      filenamePatternFailed: '{datetime:u}.{fail_prefix}{feature_file}.feature_{step_line}.{ext}'
