<?xml version="1.0"?>
<ruleset name="behat-screenshot">
  <description>The coding standard for behat-screenshot.</description>

  <rule ref="Symfony2" />

  <file>src/</file>
  <file>tests/</file>
</ruleset>
