##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 9

  paths:
    - src
    - tests/behat/bootstrap

  excludePaths:
    - vendor/*
    - node_modules/*
    - tests/behat/bootstrap/BehatCliContext.php
